[user]
	email = tkareine@gmail.com
	name = Tuomas Kareinen
[alias]
	br  = branch
	ci  = commit -v
	co  = checkout
	cp  = cherry-pick
	df  = diff
	dfc = diff --cached
	fep = fetch --prune
	gr  = grep -n
	lg  = log --patch-with-stat --decorate
	lt  = log --graph --oneline --decorate
	pl  = pull --ff-only
	rv  = revert
	slg = shortlog -s -n
	st  = status -s -b
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[diff]
	tool = opendiff
[difftool]
	prompt = false
[format]
	numbered = auto
[merge]
	conflictstyle = diff3
[push]
	default = simple
[rebase]
	autosquash = true
[rerere]
	enabled = true
