[user]
	email = tkareine@gmail.com
	name = Tuomas Kareinen
[alias]
	br        = branch
	ci        = commit -v
	co        = checkout
	cp        = cherry-pick
	df        = diff
	dfc       = diff --cached
	fep       = fetch --prune
	gr        = grep -n
	lg        = log --cc --patch-with-stat --decorate
	lt        = log --cc --graph --oneline --decorate
	pl        = pull
	rv        = revert
	s         = status -s -b -u
	slg       = shortlog -s -n
	sm        = submodule
	st        = status --long -b -u
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
[diff]
	algorithm = patience
	renames = true
	submodule = log
	tool = opendiff
[difftool]
	prompt = false
[format]
	numbered = true
[merge]
	conflictstyle = diff3
	ff = only
[pull]
	ff = only
[push]
	default = simple
[rebase]
	autosquash = true
[rerere]
	enabled = true
[status]
	submodulesummary = 1
[submodule]
	fetchJobs = 4
[stash]
	showPatch = true
[magit]
	hideCampaign = true
[include]
	path = ~/.gitconfig.host
