# -*- mode: conf -*-

# See config in effect, with defaults: `npm config ls -l`
#
# References:
#
# * https://docs.npmjs.com/cli/v11/configuring-npm/npmrc
# * https://docs.npmjs.com/cli/v11/using-npm/config

# Don't run pre and post lifecycle scripts automatically
ignore-scripts = true

# Allow installing npm packages older than 3 days
#
# https://docs.npmjs.com/policies/unpublish#packages-published-less-than-72-hours-ago
min-release-age = 3

# Don't allow fetching git dependencies
allow-git = none
