# -*- mode: conf -*-

# See config in effect, with defaults: `npm config ls -l`
#
# References:
#
# * https://docs.npmjs.com/cli/v12/configuring-npm/npmrc
# * https://docs.npmjs.com/cli/v12/using-npm/config

# Don't run pre and post lifecycle scripts automatically
ignore-scripts = true

# Allow installing npm packages older than 7 days
#
# https://docs.npmjs.com/policies/unpublish#packages-published-less-than-72-hours-ago
min-release-age = 7

# Don't allow fetching git dependencies
allow-git = none
