# -*- mode: conf -*-

# See config in effect, with defaults: `npm config ls -l`
#
# References:
#
# * https://docs.npmjs.com/cli/v11/configuring-npm/npmrc
# * https://docs.npmjs.com/cli/v11/using-npm/config

# Don't run pre and post lifecycle scripts automatically
ignore-scripts = true
